#include "resource.h"

IDD_ABOUT DIALOG DISCARDABLE  0, 0, 239, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "My About Box"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,174,18,50,14
    PUSHBUTTON      "&Cancel",IDCANCEL,174,35,50,14
    GROUPBOX        "About this program...",IDC_STATIC,7,7,225,52
    CTEXT           "An example program showing how to use Dialog Boxes\r\n\r\nby theForger",
                    IDC_STATIC,16,18,144,33
END

IDD_COMPONENTS DIALOG DISCARDABLE  0, 0, 239, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Components Info"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,174,18,50,14
    GROUPBOX        "About this program...",IDC_STATIC,7,7,225,52
    CTEXT           "For now, it's not posible to insert new components like sidebar or console",
                    IDC_STATIC,16,18,144,33
END

IDD_CALCULATOR DIALOG DISCARDABLE 0, 0, 147, 67
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Shell Dlg"
BEGIN
  ICON             IDI_MYICON,IDC_STATIC,7,7,20,20
  LTEXT            "Win32 Example Application",IDC_STATIC,34,7,89,8
  LTEXT            "©2017 Transmission Zero",IDC_STATIC,34,17,86,8
  DEFPUSHBUTTON    "OK",IDOK,90,46,50,14,WS_GROUP
END

IDR_MYMENU MENU
BEGIN

    POPUP "&Project" 
    {
        POPUP "&New Project" 
        {
            MENUITEM "&Backend Project", 203
            MENUITEM "&Frontend Project", 204
            MENUITEM "&IDK", 205

        }  

        MENUITEM "&Remove Project",   206
        MENUITEM "&Open recent Project",    207
        MENUITEM SEPARATOR
        MENUITEM "&Save Project",       208
        MENUITEM "&Save Project As..",  209
    }
    
    POPUP "&File"
    {
    	MENUITEM "&Open File",		303
    	MENUITEM "&New FIle", 		304
    	MENUITEM "&Open recent", 	305
        MENUITEM SEPARATOR
        MENUITEM "&Add New File",   306
    	MENUITEM SEPARATOR
    	MENUITEM "&Save",		307
    	MENUITEM "&Save As..",	308
    	MENUITEM SEPARATOR
        MENUITEM "E&xit", ID_FILE_EXIT
    }

    POPUP "&Stuff"
    {
        MENUITEM "&Go", ID_STUFF_GO
        MENUITEM "G&o somewhere else", 0, GRAYED
    }

    POPUP "&View"
    {
    	MENUITEM "&Sidebar", 79, GRAYED
    	MENUITEM "&Console", 69, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&Components?", ID_COMPO_ABOUT
    }

    POPUP "&Tools"
    {
        POPUP "&Transform Data" 
        {
            MENUITEM "&Calculator", IDD_CALCULATOR
            MENUITEM "&geographic to geodesic", 80
            MENUITEM "&geodesic to geographic", 81
        }

        POPUP "&Nivelador"
        {
            POPUP "&Nivelacion Geometrica"
            {
                MENUITEM "&Simple",     82
                MENUITEM "&Compuesta",  83
                MENUITEM "&Inversa",    84
                MENUITEM "&Reciproca",  85
            }
            POPUP "&Nivelacion Hipergeometrica" {
                MENUITEM "&Taquimetrica", 86
                MENUITEM "&ConCorteMira", 87
            }

        }
        
        MENUITEM "&Compile options", 88
    	MENUITEM "&Add snippet", 89

    	POPUP "&Languages"
    	{
    		MENUITEM "&Python",91
    		MENUITEM "&Javascript",92
    		MENUITEM "&Go",93
    	}

        MENUITEM "&create new window", 94
	}

	POPUP "&Help"
	{
		MENUITEM "&About", ID_HELP_ABOUT
	}
	
END

IDI_MYICON ICON "menu_one.ico"

IDR_ACCELERATOR ACCELERATORS
BEGIN
  "A",             ID_HELP_ABOUT,      VIRTKEY, ALT, NOINVERT
END
