#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"

LANGUAGE 0, SUBLANG_NEUTRAL
IDR_MENU1 MENU
{
    MENUITEM "File", IDM_FILE1
    MENUITEM "Project", IDM_PROJECT1
    POPUP "Tools"
    {
        MENUITEM "Calculator", IDD_DIALOG_CALCULATOR
        MENUITEM "Converter", IDD_DIALOG_CONVERTER
        MENUITEM SEPARATOR
        MENUITEM "Notas", IDD_DIALOG_NOTES

    }
}

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_DIALOG_CONVERTER DIALOG 0, 0, 337, 218
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "Ms Shell Dlg"
{
    GROUPBOX        "INPUT", 0, 1, 44, 165, 114, 0, WS_EX_LEFT
    LTEXT           "Date type", 0, 10, 60, 32, 9, SS_LEFT, WS_EX_LEFT
    COMBOBOX        ID_OPTION_DT, 65, 55, 75, 19, CBS_DROPDOWN | CBS_HASSTRINGS, WS_EX_LEFT 
    AUTOCHECKBOX    "Simplified", ID_CHS, 195, 75, 45, 8, 0, WS_EX_LEFT
    GROUPBOX        "OUTPUT", 0, 185, 45, 130, 112, 0, WS_EX_LEFT
    AUTOCHECKBOX    ".txt file", ID_CHO, 196, 61, 36, 8, 0, WS_EX_LEFT
    LTEXT           "Please select the filters", 0, 69, 14, 73, 9, SS_LEFT, WS_EX_LEFT
    PUSHBUTTON      "Add", IDADD, 215, 165, 35, 14, 0, WS_EX_LEFT
    CONTROL         "", IDBAR, PROGRESS_CLASS, 0, 10, 165, 195, 15, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 280, 197, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 280, 180, 50, 14, 0, WS_EX_LEFT
    COMBOBOX        ID_OPTION_NT, 65, 80, 75, 19, CBS_DROPDOWN | CBS_HASSTRINGS, WS_EX_LEFT
    LTEXT           "Numerical type", 0, 10, 85, 48, 9, SS_LEFT, WS_EX_LEFT
}


LANGUAGE 0, SUBLANG_NEUTRAL
IDD_DIALOG_CALCULATOR DIALOG 0, 0, 186, 236
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Calculator"
FONT 8, "Ms Shell Dlg"
{
    COMBOBOX        0, 47, 182, 41, 12, CBS_DROPDOWN | CBS_HASSTRINGS, WS_EX_LEFT
    PUSHBUTTON      "Mode", 0, 15, 180, 23, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "(", 0, 90, 130, 10, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "sin", 0, 15, 130, 20, 14, 0, WS_EX_LEFT
    EDITTEXT        0, 14, 16, 95, 16, ES_AUTOHSCROLL, WS_EX_LEFT
    PUSHBUTTON      "*", 0, 100, 40, 8, 14, 0, WS_EX_LEFT
    PUSHBUTTON      ",", 0, 75, 100, 7, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "1", 0, 15, 40, 15, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 130, 217, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 130, 200, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "4", 0, 15, 60, 15, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "7", 0, 15, 80, 15, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "2", 0, 40, 40, 15, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "5", 0, 40, 60, 15, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "8", 0, 40, 80, 15, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "3", 0, 65, 40, 15, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "6", 0, 65, 60, 15, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "9", 0, 65, 80, 15, 14, 0, WS_EX_LEFT
    PUSHBUTTON      ":", 0, 90, 40, 7, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "-", 0, 90, 60, 10, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "+", 0, 90, 80, 9, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "0", 0, 15, 100, 15, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "EXP", 0, 40, 100, 19, 14, 0, WS_EX_LEFT
    PUSHBUTTON      ".", 0, 65, 100, 10, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "=", 0, 90, 100, 9, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "cos", 0, 40, 130, 20, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "tab", 0, 65, 130, 20, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "log", 0, 15, 150, 20, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "ln", 0, 40, 150, 20, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "e", 0, 65, 150, 20, 14, 0, WS_EX_LEFT
    PUSHBUTTON      ")", 0, 90, 150, 10, 14, 0, WS_EX_LEFT
}




LANGUAGE 0, SUBLANG_NEUTRAL
IDD_DIALOG_NOTES DIALOG 0, 0, 299, 208
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Notas de Topografia"
FONT 8, "Ms Shell Dlg"
{
    PUSHBUTTON      "Borrar pizarra", ID_NOTAS_BORRARPIZARRA, 127, 188, 46, 14
    EDITTEXT        ID_NOTAS_PIZARRA, 10, 10, 275, 140, ES_AUTOHSCROLL
    PUSHBUTTON      "Salir del asistente", ID_NOTAS_SALIRASISTENTE, 115, 170, 70, 14
    DEFPUSHBUTTON   "Save note", ID_NOTAS_SAVE, 125, 153, 50, 14
}